@import url("https://fonts.googleapis.com/css?family=Readex+Pro|Work+Sans|JetBrains+Mono");
@import url("https://fonts.googleapis.com/css?family=Rubik");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/*removes the unattractive defaults*/
input{outline:none;border:none;}/**/button{border:none;}

img {
	margin-top: 5px;
	margin-right: 10px;
}

body {
	background-color: #202020;
	opacity: 1;
	/*background-image:  url("../imgs/house.jpg");*/
	background-image:  radial-gradient(#303030 2px, transparent 2px), radial-gradient(#303030 2px, #202020 2px);
	background-size: 100px 100px;
	background-position: 0 0,50px 50px;
	line-height: 1.35em;
}

.mainContainer {
	background: transparent;
	padding: 4.9em;
	width: 675px;
	/*box-shadow: 0px 2px 11px rgba(172, 138, 140, 0.1);
	 */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-57%);
	display: flex;
	transition: visibility 0.15s linear 0s, opacity 0.15s linear 0s;
}

.noImg {
	width: 100%;
	margin-left: 1.25em;
}

.searchContainer {
	display: flex;
	box-shadow: 0 0px 5px rgba(0,0,0,0.5);
	border: 4px solid #333333;
	width: calc(100%-8px);
}

#searchInput {
	width: 100%;
	font: normal 600 17px "Rubik", sans-serif;
	padding: 0.7em;
	/*background: transparent; */
	background: #202020;
	color: #D4BE98;
}
#searchInput:focus {
	color: #D4BE98;
	font: normal 600 17px "Rubik", sans-serif;
}
#searchInput::placeholder {
	color: rgba(240,240,240,0.5);
	font: normal normal 18px "Readex Pro", sans-serif;
}

#searchButton, #clearButton {
	transition: background 0.05s ease-in-out 0s;
}

#searchButton {
	padding: 0.375em 0.5em 0.375em 0.6em;
	margin-left: 4px;
	color: #606060;
	background: #333333;
	font: normal 500 27px "Material Icons", sans-serif;
}

#clearButton {
	padding: 0.15em 0.35em 0.15em 0.15em;
	font: normal normal 24px "Material Icons", sans-serif;
	background: transparent;
	color: #454545;
	transition: color 0.175s ease-in-out 0s;
	display: none;
}

#clearButton:hover {
	color: #606060;
}

#searchButton:hover {
	background: #535353;
	color: #0f0f0f;
}

.noSearchbar {
	display: flex;
	margin-top: 1em;
	height: 165px;
}

#toggleContainer {
	background: #222;
	height: 100%;
	margin-top: 0.02em;
	box-shadow: 0 0px 1px rgba(0,0,0,1);
	display: grid;
}

/*this wasn't necessarily needed, but kept for extensibility*/
.buttonWrapper {
	display: flex;
	background: #333333;
	align-items: center;
	padding: 0.27em;
}

#toggleButton, #editButton, #settingsButton {
	border: 1px solid transparent;
	padding: 0.35em;
	background: transparent;
	/*color: #EFEFEF;*/
	font: normal normal 21.5px "Material Icons", sans-serif;
	transition: color 0.125s ease-in-out 0s;
	/*margin: auto; not needed*/
}

#toggleButton {
	color: #89b482;
}

#editButton {
	color: #d1889c;
}

#settingsButton {
	color: #C7A167;
}

.heading {
	font: normal normal 20px "Readex Pro", sans-serif;
}

.heading1 {
	color: #9EAA62;
}

.heading2 {
	color: #D8776D;
}

.heading3 {
	color: #80A9A0;
}

.links {
	height: calc(85% - 0.5em);
	display: flex;
	align-items: center;
	justify-content: center;
}

.link {
	color: #D4BE98;
	font: normal normal 17px "Rubik", sans-serif;
	text-decoration: none;
	transition: color 0.125s ease-in-out 0s;
}

.link:hover {
	cursor: default;
	color: #FBF1C7;
}

.bookmarks {
	width: 100%;
	display: flex;
	border: 10px solid #333333;
	background: #333333;
	box-shadow: 0 0px 1px rgba(0,0,0,1);
	margin-left: 1em;
}

.bookmark {
	text-align: center;
	padding: 0.5em 0.5em 0.5em 0.5em;
	width: 33.3%;
}

::selection {
	color: #222222;
	background: #D4BE98;
}

@media screen and (min-width: 10in) {
	.mainContainer {
		width: 675px;
		transform: translate(-50%,-58%);
	}
}

@media screen and (max-width: 9.5in) {
	.mainContainer {
		width: 75%;
		transform: translate(-50%,-60%);
	}
}

@media screen and (max-width: 8.2in) {
	.mainContainer {
		width: 82%;
		padding: 2.85em;
	}
}

@media screen and (max-width: 7.2in) {
	img {
		display: none;
	}

	.noImg {
		margin-left: 0;
	}

	.mainContainer {
		width: 65%;
		padding: 2.5em;
	}

	#searchInput:focus {
		color: #D4BE98;
		font: normal 600 18px "Rubik", sans-serif;
	}
	#searchInput {
		color: #D4BE98;
		font: normal 600 18px "Rubik", sans-serif;
	}
}

@media screen and (max-width: 5.75in) {
	.mainContainer {
		width: 80%;
		box-shadow: none;
		border: 0 solid black;
		padding: 2.25em;
	}
}

@media screen and (max-width: 4.3in) {
	.mainContainer {
		width: 90%;
		padding: 0em;
		margin: none;
	}

	.noSearchbar {
		margin-top: 1em;
	}

	.bookmarks {
		margin-left: 1em;
	}
}

@media screen and (max-width: 3.3in) {
	.noSearchbar {
		flex-direction: column;
	}

	.noSearchbar {
		margin-top: 0;
	}

	.bookmarks {
		margin-left: 0;
	}

	#toggleContainer {
		display: flex;
		flex-direction: row;
		margin-top: 0.55em;
		margin-bottom: 0.55em;
	}

	.buttonWrapper {
		margin-left: 0.8em;
		margin-right: 0.8em;
	}
}
