@import url("https://fonts.googleapis.com/css?family=Rubik");
/*removes the unattractive defaults*/
input{outline:none;border:none;}/**/button{border:none;}

:root {
	--bg: #202020;
	--projectbg: #282828;
	--secondarybg: #222222;
}

#myImg {
	margin: 1em 0.5em 1em 1em;
	border-radius: 5%;
}
body {
	background: var(--bg);
	line-height: 1.35em;
	color: #D4BE98;
}

#identity h2 {
	color: #FBF1C7;
	font: Bold 600 2em "Rubik", sans-serif !important;
}

#mainContainer {
	background: transparent;
	text-align: center;
	width: 950px;
	border-radius: 0px;
	padding: 40px;
	border-width: 1px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: inline;
	transition: visibility 0.15s linear 0s, opacity 0.15s linear 0s;
}

#identity {
	margin-top: 0.75em;
	margin-left: 1em;
}


#top {
	background: #333;
	padding: 20px;
	text-align: left;
	width: calc(100%-20px);
	height: calc(120px+1em);
	border-radius: 0px;
	border-width: 1px;
	display: flex;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
	transition: visibility 0.15s linear 0s, opacity 0.15s linear 0s;
}

#middle {
	background: transparent;
	padding: 20px;
	width: calc(100%-20px);
	margin-top: 1em;
	transition: visibility 0.15s linear 0s, opacity 0.15s linear 0s;
}

#myWork {
	margin: 1em;
}

#projects {
	display: flex;
}
.project {
	margin: auto;
	text-align: center;
	background: transparent;
	padding: 1.6em;
	border-radius: 4px;
}
.link {
	margin: auto;
	text-align: center;
	background: #303030;
	padding: 1.4em 3em 1.4em 3em;
	font: normal 600 1em "Rubik", sans-serif;
	border-radius: 0px;
	box-shadow: 1px 1px 1px 1px  rgba(0,0,0,0.5);
	color: #D4BE98;
	text-decoration: none;
	transition: all 0.125s ease-in-out 0s;
}
.link:hover {
	background: #353535;
	box-shadow: 3px 3px 1px 1px  rgba(0,0,0,0.5);
	color: #eddfb7;
}

#identity p {
	font: normal 600 1em "Rubik", sans-serif;
}
html, body {
	margin: 0;
	height: 100%;
}
body {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr;
	grid-template-areas: "main" "footer";
	grid-template-rows: 1fr 80px;
}
main {
	background-color: #F8BBD0;
	grid-area: main;
}
footer {
	background-color: transparent;
	grid-area: footer;
	text-align: center;
}
.phicons {
	color: #7E7562;
	margin: 0.6em;
	font: normal normal 20px "Rubik", sans-serif;
	text-decoration: none;
	transition: color 0.125s ease-in-out 0s;

}
.phicons:hover {
	color: #a1947d;
}

@media screen and (min-width: 10in) {
	#mainContainer {
		transform: translate(-50%,-58%);
	}
}

@media screen and (max-width: 9.7in) {
	#mainContainer {
		width: 85%;
		transform: translate(-50%,-60%);
	}
	.project {
		padding: 1.4em 0 0 0;
	}
}

@media screen and (max-width: 9in) {
	img {
		display: none;
	}
}

@media screen and (max-width: 8.6in) {
	.project {
	}
}

@media screen and (max-width: 6in) {
	.link {
		padding: 1em 2em 1em 2em;
	}
	.project {
		padding: 1em 0 0 0;
	}
}

@media screen and (max-width: 5.6in) {

	#projects {
		flex-direction: column;
	}
	.link {
		padding: 1.2em 2.6em 1.2em 2.6em;
	}
	.project {
		padding: 1.6em;
	}
}

@media screen and (max-width: 4.7in) {
	#mainContainer {
		width: 80%;
	}
}
