@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@450&display=swap');

/*removes the unattractive defaults*/
input{outline:none;border:none;} button{border:none;} a {text-decoration: none;}

* { transition: all 0.125s ease-in-out 0s; }

:root { --fg: #D4BE98; }

body {
	background: #202020;
	line-height: 1.35em;
	color: var(--fg);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h2 {
	font-family: "Rubik", sans-serif;
	font-size: 1.5em;
	font-weight: 700;
}

#top h2 {
	color: #FBF1C7;;
}

#mainContainer {
	width: 950px;
	margin: auto auto;
}


#top {
	background: #333333;
	padding: 20px;
	text-align: left;
	border-radius: 0px;
	border-width: 1px;
	display: flex;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
}

#top img {
	margin: 1em 0.5em 1em 1em;
}

#top div {
	margin: auto;
	margin-left: 1em;
}

#top div p {
	font: normal 450 1em "Rubik", sans-serif;
}

#top div p a {
	color: #d5a689;
}

#top div p a:hover {
	color: #D27873;
}

#middle {
	padding: 0.5em 0;
	width: calc(100%-20px);
	text-align: left;
}

#middle h2 {
	color: #e0d6b1;
	margin: 1.2em;
}

#cards {
	display: grid;
	margin: auto;
	gap: 2em;
	grid-template-columns: repeat(3, 1fr);
	width: 100%;
}

#cards a {
	margin: 0;
	background: #303030;
	text-align: center;
	padding: 2em 0;
	font: normal 450 1em "Rubik", sans-serif;
	box-shadow: 2px 2px 1px 1px  rgba(0,0,0,0.5);
	color: var(--fg);
}

#cards a:hover {
	background: #353535;
	box-shadow: 4px 4px 1px 1px  rgba(0,0,0,0.5);
	color: #eddfb7;
}

#footer {
	text-align: center;
	display: grid;
	margin-top: auto;
}
#header {
	text-align: center;
	display: grid;
	margin-bottom: auto;
}

#footer #phicons, #header #phicons {
	display: flex;
	margin: auto;
}

#footer #phicons a, #header #phicons a {
	color: #57544a;
	font: normal normal 20px "Rubik", sans-serif;
	padding: 1.6em 1em;
	margin: auto;
}

#footer #phicons a:hover { color: #837e6b; }

::selection { color: #222222; background: #a1947d; }

@media screen and (max-width: 10.6in) { #mainContainer { width: 85%; } }
@media screen and (max-width: 7.6in) { img { display: none; } }
@media screen and (max-width: 6in) { #mainContainer { width: calc(90%); } }
@media screen and (max-width: 5.6in) { #cards { display: flex; flex-direction: column; } #cards a { padding: 1.5em 0; box-shadow: 1px 1px 1px 1px  rgba(0,0,0,0.5); } #cards a:hover { box-shadow: 3px 3px 1px 1px  rgba(0,0,0,0.5); } }
