@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@450&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Onest&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
*/
/*removes the unattractive defaults*/
input{outline:none;border:none;} button{border:none;} a {text-decoration: none;}

::selection { color: var(--clr-bg); background: var(--clr-fg-alt); }

:root {
	--clr-fg: #EAE9E9;
	--clr-fg-alt: #929090;
	--clr-bg: #242120;
	--clr-bg-alt: #343231;
	--font: normal 400 clamp(1.05rem, 2.5vw, 1.25rem) "rubik", sans-serif;
	--font-h1: normal 700 clamp(2rem, 8vw, 3rem) "rubik", sans-serif;
}

* {
	line-height: 1.7rem;
}

strong {
	font-weight: 600;
}

#container {
	min-height: calc(100vh - 17rem);
	margin: 4rem auto;
	display: flex;
}

#wrapper {
	width: 100%;
	margin: auto;
}

hr {
	border: 0px solid var(--clr-bg-alt);
	border-top: 1px solid var(--clr-bg-alt);
}

a {
	text-decoration: none;
	color: var(--clr-fg);
}
a:hover {
	text-decoration: underline;
}

h1 {
	color: var(--clr-fg);
	font: var(--font-h1);
}

h2, h3 {
	color: var(--clr-fg-alt);
}

body {
	font: var(--font);
	max-width: 800px;
	margin: 3rem auto;
	background: var(--clr-bg);
	color: var(--clr-fg);
	padding: 0rem 7vw;
}
header, footer {
	display: flex;
}
.stuff {
	margin-left: auto;
}
.stuff>a{
	margin-left: 2rem;
}
#home {
	margin-right: auto;
}
#stretch {
	display: flex;
	min-height: calc(100vh - 13rem);
}
#stretch > h1 {
	margin: auto;
}
