/*@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400..700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400..700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400..700&display=swap');*/
/*removes the unattractive defaults*/
input{outline:none;border:none;} button{border:none;}

:root {
	--clr-accent: hsl(213, 94%, 68%);
	--clr-accent-bg: hsl(213, 30%, 20%);
	--clr-accent-bg2: hsl(213, 30%, 15%);
	/*--clr-accent-bg2: oklch(0.25 0.0357 253.83);*/
	--clr-accent-alt: hsl(213, 30%, 70%);
	--clr-accent-alt2: oklch(0.9 0.1 253.83);

	--clr-white: hsl(0, 0%, 100%);
	--clr-gray: hsl(0, 0%, 65%);

	--clr-fg: hsl(0,0%,90%);
	--clr-fg2: hsl(0,0%,70%);
	--clr-fg3: hsl(0,0%,60%);

	--clr-bg: hsl(0,0%,0%);
	--clr-bg2: hsl(0,0%,5%);
	--clr-bg3: hsl(0,0%,10%);
	--clr-bg4: hsl(0,0%,15%);
	--clr-bg5: hsl(0,0%,20%);

	--clr-trans: rgba(16, 16, 16, 0.9);

	--height-wide-image: clamp(100px, 40vw, 300px);
	--height-cover-image: clamp(100px, 40vw, 300px);
	--height-round-image: clamp(150px, 40vw, 300px);
	--margin-round-image: clamp(2rem, 5vw, 3rem);

	--font-size-default: clamp(14px, 1vw, 16px);
	--font-big-text-size: clamp(0.875rem, 2vw, 1rem);
	--font-size-h1: 1.875rem;
	--font-size-h2: 1.375rem;
	--font-size-h3: 1.25rem;
	--font-size-h4: 1.125rem;

	--font-family: "Geist";
	--font-family-heading: "Geist";

	--clr-fg-alt: var(--clr-fg2);
	--clr-bg-alt: var(--clr-bg2);
	--clr-bg-bright: var(--clr-bg5);
	--clr-fg-dark: hsl(0,0%,50%);
}

::selection {
	/*background: color-mix(in srgb, black 10%, var(--clr-accent));
   */
	background: var(--clr-accent-alt);
	color: var(--clr-bg);
}
body, p, div {
  line-height: 1.5;
}

* {
  font-variant-numeric: tabular-nums;
}

.highlight {
  background: var(--clr-accent-bg2);
  padding: 0.125rem 0.25rem;
  line-height: 2;
  transition: background 0.2s ease;
}
.highlight:hover {
  background: var(--clr-accent-bg);
}

.highlight1 {
  color: var(--clr-accent);
}
.highlight2, .highlight3 {
  color: var(--clr-white);
	font-weight: 500;
}

html {
	scroll-padding-top: 80px; /* for the header */
}

img, svg, video {
	max-width: 100%;
	display: block;
}

.video {
	object-fit: cover;
	border-radius: 4px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	position: relative;
	height: clamp(150px, 10vw + 200px, 250px);
	overflow: hidden;
}
iframe {
	width: 100%;
	height: 100%;
	border: 0;
}
/*images*/
img {
	object-fit: cover;
}
.image-container>img {
  width: 500px;
  border-radius: 2px;
}
.image-container {
	margin: min(2.25rem,5vw) auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.round-image {
  width: var(--height-round-image); /* Adjust size as needed */
  height: var(--height-round-image); /* Adjust size as needed */
  border-radius: 50%; /* This makes it circular */
  object-fit: cover; /* Ensures image covers the circle properly */
  border: 1px solid var(--clr-bg-bright);
}
.wide-image, .wide-image img {
	height: var(--height-wide-image);
}
.wide-image img {
	position: absolute;
	width: max(950px, 50%);
	left: min(calc(50vw - 475px), 25%);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}
.cover-image, .cover-image img {
	height: var(--height-cover-image);
}
.cover-image img {
	position: absolute;
	width: max(880px, 80%) !important;
	left: min(calc(50vw - 440px), 10%) !important;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.big-text { margin: 2rem 0rem; color: var(--clr-fg); display: inline-flex; align-items: center; gap: 0.5rem; font-weight: 500; }
.big-text .larrow, .big-text .rarrow { transition: transform 0.3s ease; }
.big-text:hover .larrow { transform: translateX(-5px); }
.big-text:hover .rarrow { transform: translateX(5px); }

strong { font-weight: 550; }
h1 { font-size: var(--font-size-h1); }
h2 { font-size: var(--font-size-h2); }
h3 { font-size: var(--font-size-h3); }
h3 { font-size: var(--font-size-h4); }
/*
h1, h2, h3, h4, h5 {font-weight: 550;}
*/
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-heading);
  margin-top: 2rem;
}

.ph, .ph-bold, .ph-light, .ph-fill {
	font-size: clamp(1.2rem, 2vw, 1.4rem); 
	position: relative;
	top: 4px;
	transition: all 0.1s ease-in-out 0s;
}
.ph-bold:hover, .ph-light:hover, .ph:hover {
	text-decoration: none;
}
.invert-underline {
	text-decoration: none;
}
.invert-underline:hover {
	text-decoration: underline;
}

* { scroll-behavior: smooth; }

body {
	/* font-family: system-ui;*/
	font-family: var(--font-family), sans-serif;
	font-size: var(--font-size-default);
	max-width: 100%;
	margin: 0;
	padding: 0;
	background: var(--clr-bg);
	color: var(--clr-fg);
}
#container, footer, .footer-text {
	/* font-family: system-ui;*/
	font-size: var(--font-default);
	max-width: 900px;
	margin: min(2.25rem,5vw) auto;
	padding: 0rem 4vw;
}

footer {
	text-align: center;
}

#grid-canvas {
  position: fixed; /* Critical: Keeps it out of flow */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Layer 2: Middle (above blobs, below content) */
  pointer-events: none;
}

#container {
  min-height: calc(100vh - 17rem);
  padding-top: 75px;
  z-index: 1; /* Layer 3: Top (Content) */
}

.big-text {
  font-size: var(--font-big-text-size);
  text-decoration: none;
}

hr {
	margin: 0.4rem 0;
	border: 0px solid var(--clr-bg-alt);
	border-top: 1px solid var(--clr-bg4);
}

a {
	color: var(--clr-fg);
  text-decoration: underline;
  text-decoration-color: var(--clr-gray);
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
	transition: all 0.1s ease-in-out 0s;
}
a:hover {
  color: var(--clr-fg);
}

header a, footer a {
	text-decoration: none;
}

footer a:hover { color: var(--clr-fg); }

header, footer {
	display: flex;
}
header a {
	color: var(--clr-fg);
}
footer {
  margin: auto;
}
footer, footer a {
	color: var(--clr-fg3);
}

.nav-links, .footer-links {
	margin-left: auto;
  display: flex;
  align-items: center;
  margin-top: 1px;
}

.nav-links>a {
	margin-left: 1.75rem;
	font-weight: 500;
  position: relative;
  text-decoration: none;
  padding-bottom: 2px;
}

.nav-links>a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--clr-accent);
  transition: width 0.3s ease;
}

.nav-links>a:hover::after { 
  width: 100%; 
}

/* Active state - show the underline */
.nav-link-active::after,
.nav-link-active:hover::after {
  width: 100% !important; /* Force full width for active state */
}
.home-link a {
	margin-right: auto;
	font-size: clamp(1.4rem, 4vw, 1.6rem); 
	font-weight: 800;
}

footer {
	padding: 0 4vw;
	margin: 1.9rem auto;
}

footer a {
	font-size: var(--font-size-default);
	margin: auto 0.5rem;
}

/* fixed header */
#header-wrapper {
	position: fixed;
	top: 0px;
	margin: auto;
	width: 100%;
	z-index: 1000;
	background: var(--clr-trans);
	backdrop-filter: blur(10px);
}
header {
	max-width: 900px;
	margin: auto;
	padding: 0.65rem 1.5vw;
	padding: 1rem 4vw;
	background: none;
	border: 0px solid var(--clr-bg-bright);
  border-radius: 3px;
}

.line-heading {
  display: flex;           /* Enables flexbox */
  align-items: center;     /* Vertically centers the line with the text */
  white-space: nowrap;     /* Prevents text from wrapping awkwardly */
  margin-bottom: 2rem;
}

.line-heading::after {
  content: '';             /* Required for pseudo-elements to render */
  flex: 1;                 /* Tells the line to take up all remaining space */
  border-bottom: 1px solid #222; /* Sets the line thickness and color */
  margin-left: 1.5rem;       /* Adds space between the text and the line */
}
#cards-article img {
	position: relative;
	width: 80px; height: 80px; object-fit: cover;
	border-radius: 5px;
}
#cards-article {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px; /* Space between items */
}

.card-article {
  display: flex;
  border-radius: 10px;
  color: var(--clr-fg);
  text-decoration: none;
  background: var(--clr-bg);
  padding: 1rem;
  margin: 0 -1rem;
}
.card-article:hover {
  background: var(--clr-bg-alt);
  color: var(--clr-accent);
  transition: background 0.3s ease;
}
.card-article .description {
  color: var(--clr-fg2);
}
.heading-article {
  font-weight: 600;
  font-size: 1rem;
}

#cards img {
	position: relative;
	width: 100%; height: 250px; object-fit: cover;
	border-radius: 10px 10px 0 0 ;
}
#cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px; /* Space between items */
}

.card {
  border: 1px solid var(--clr-bg4);
  border-radius: 10px;
  color: var(--clr-fg);
  text-decoration: none;
  transition: transform 0.3s ease;
  background: var(--clr-bg);
  padding: 0rem;
}
.card:hover {
  border-color: var(--clr-accent);
}
.card .description {
  color: var(--clr-fg2);
  font-size: 0.975rem;
}
.heading {
  font-weight: 600;
  font-size: 1rem;
  margin: 0rem 0 0 0rem;
}
.date {
  color: var(--clr-fg3);
  margin-left: auto;
}

.title-date {
	position: relative;
	margin: auto 0;
	display: flex; flex-direction: column;
  width: 100%;
}
.card-article>.title-date {
	margin: auto 0 auto 1rem;
}
.card>.title-date {
	margin: 1rem 0 1rem 1rem;
  width: calc(100% - 2rem);
}
.title-date>span {
  display: flex;
}

/* 1. The Container (Card) */
.card {
  position: relative; /* Essential: creates the boundary for the absolute icon */
  display: block;
}

/* 2. The Hidden Icon */
.arrow-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  
  /* Circle Styling */
  width: 40px;
  height: 40px;
  background-color: var(--clr-bg);
  color: var(--clr-accent);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* Hiding Strategy */
  opacity: 0; 
  transform: translate(-10px, 10px); /* Start slightly offset for animation */
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1); /* Smooth easing */
}

/* 3. The Trigger */
/* When link-card is hovered, change arrow-icon styles */
.card:hover .arrow-icon {
  opacity: 1;
  transform: translate(0, 0); /* Move to final position */
}



blockquote {
  border-left: 3px solid var(--clr-accent);
  padding: 1px 0 1px 1.125rem;
  margin: 1.5rem;
}

/*media query to change header*/
@media screen and (max-width: 1000px) {
#header-wrapper {
	top: 0px; width: 100%;
	background: var(--clr-trans);
	backdrop-filter: blur(10px);
}
header {
	max-width: 100%;
	background: none;
	padding: 0.85rem 4vw;
	border: 0px;
	backdrop-filter: blur(0px);
}
.cover-image img {  width: 100% !important; left: 0% !important; }
.wide-image img { padding: 0rem 3vw; left: 0; width: calc(100% - 6vw); }
}

@media screen and (max-width: 800px) {
  #cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
