@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400..700&display=swap');
/*removes the unattractive defaults*/
input{outline:none;border:none;} button{border:none;}

::selection { color: var(--clr-bg); background: var(--clr-fg-alt); }

html {
  scroll-behavior: smooth;
}

.ph-bold {
	font-size: clamp(1.5rem, 6vw, 2.2rem);
}

.fg-alt {
	color: var(--clr-fg-alt);
}

:root {
	--clr-fg: #eee;
	--clr-fg-alt: #888;
	--clr-bg: #161616;
	--clr-bg-alt: #272727;
	--font: normal 400 clamp(1.05rem, 4vw, 1.25rem) "Archivo", sans-serif;
	--font-h1: normal 700 clamp(2rem, 8vw, 3rem) "Archivo", sans-serif;
}

* {
	line-height: 1.7rem;
	transition: all 0.125s ease-in-out 0s;
}

strong {
	font-weight: 600;
}

#container {
	min-height: calc(100vh - 14rem);
	display: flex;
	margin: 2rem 0;
}

#wrapper {
	width: 100%;
	margin: auto;
}

hr {
	border: 0px solid var(--clr-bg-alt);
	border-top: 1px solid var(--clr-bg-alt);
}

a {
	color: var(--clr-fg);
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

header a, footer a {
	text-decoration: none;
}

header a:hover, footer a:hover {
	text-decoration: underline;
}

h1 {
	color: var(--clr-fg);
	font: var(--font-h1);
}

h2, h3 {
}

body {
	font: var(--font);
	max-width: 800px;
	margin: min(2.25rem,5vw) auto;
	background: var(--clr-bg);
	color: var(--clr-fg);
	padding: 0rem 4vw;
}
header, footer {
	display: flex;
}
footer {
}
.footer-text {
	font-size: 1rem;
	margin-left: auto;
}
.stuff {
	margin-left: auto;
}
.stuff>a{
	margin-left: 2rem;
}
#home {
	margin-right: auto;
}
#home a:hover {
	text-decoration: none;
}
