/*removes the unattractive defaults*/
input{outline:none;border:none;}/**/button{border:none;}

img {
  margin: 2em;
}

body {
	background: #282828;
	line-height: 1.35em;
}

#mainContainer {
	background: transparent;
  text-align: center;
	width: 650px;
	border-radius: 0px;
  border-width: 1px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: grid;
	transition: visibility 0.15s linear 0s, opacity 0.15s linear 0s;
}

.noImg {
	width: 100%;
	margin-left: 1.25em;
}

#searchContainer {
	margin: auto;
	display: flex;
	box-shadow: 0 0px 1px rgba(0,0,0,1);
	border-radius: 2px;
	width: calc(100%-57px);
  margin: 2em;
}

#searchInput {
	width: 100%;
	font: normal 600 17px "JetBrainsMono Nerd Font", monospace;
	padding: 0.7em;
	background: #3C3836;
	border-radius: 2px 0 0 2px;
	color: #BDAE93;
}
#searchInput:focus {
	color: #BDAE93;
	font: normal 600 17px "JetBrainsMono Nerd Font", monospace;
}
#searchInput::placeholder {
  color: rgba(189,174,147,0.7);
	font: normal normal 17px "JetBrainsMono Nerd Font", monospace;
}

#searchButton {
	border-radius: 0 2px 2px 0;
	padding: 0.378em 0.45em 0.378em 0.45em;
	margin-left: 2px;
	background: #3C3836;
  color: rgba(189,174,147,0.3);
	transition: background 0.05s ease-in-out 0s;
  width: 57px;
	font: normal 500 27px "Material Icons", sans-serif;
}

#searchButton:hover {
  background: rgba(189,174,147,0.3);
	color: #2e2e2e;
}

::selection {
	color: #282828;
  background: rgba(189,174,147,0.4);
}

@media screen and (min-width: 10in) {
	.mainContainer {
		width: 725px;
		transform: translate(-50%,-58%);
	}
}

@media screen and (max-width: 9.5in) {
	.mainContainer {
		width: 75%;
		transform: translate(-50%,-60%);
	}
}

@media screen and (max-width: 8.2in) {
	.mainContainer {
		width: 82%;
		padding: 2.85em;
	}
}

@media screen and (max-width: 7.2in) {
	img {
		display: none;
	}

	.noImg {
		margin-left: 0;
	}

	.mainContainer {
		width: 65%;
		padding: 2.5em;
	}

  #searchInput:focus {
	  color: #BDAE93;
	  font: normal 600 18px "Work Sans", sans-serif;
  }
  #searchInput {
	  color: #BDAE93;
	  font: normal 600 18px "Work Sans", sans-serif;
  }
}

@media screen and (max-width: 5.75in) {
	.mainContainer {
		width: 85%;
		box-shadow: none;
    border: 0 solid black;
		padding: 2.25em;
	}
}

@media screen and (max-width: 4.3in) {
	.mainContainer {
		width: 90%;
		padding: 0em;
		margin: none;
	}

	.noSearchbar {
		margin-top: 1em;
	}

	.bookmarks {
		margin-left: 1em;
	}
}

@media screen and (max-width: 3.3in) {
	.noSearchbar {
		flex-direction: column;
	}

	.noSearchbar {
		margin-top: 0;
	}

	.bookmarks {
		margin-left: 0;
	}

	#toggleContainer {
		display: flex;
		flex-direction: row;
		margin-top: 0.55em;
		margin-bottom: 0.55em;
	}

	.buttonWrapper {
		margin-left: 0.8em;
		margin-right: 0.8em;
	}
}
