#mainContainer {
	width: 750px;
	padding: 4em;
	margin: auto auto;
	font: normal 400 18px "Rubik", sans-serif;
	background: #303030;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
	line-height: 1.8em;
}
@media screen and (max-width: 11in) { #mainContainer { width: calc(80% - 8em); } }
@media screen and (max-width: 8.6in) { #mainContainer { width: calc(70% - 8em); } }
@media screen and (max-width: 8.4in) { #mainContainer { padding: 3em; width: calc(90% - 6em); } }
@media screen and (max-width: 5.8in) { #mainContainer { padding: 1.25em; width: calc(100% - 2.5em); box-shadow: none; margin: none; background: transparent; line-height: 1.7em;} }
