@import url("https://fonts.googleapis.com/css?family=Outfit|Oswald");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/*removes the unattractive defaults*/
input{outline:none;border:none;}/**/button{border:none;}

body {
	background: conic-gradient(#A8BEFB, #F7AEB7, #A8BEFB);
	line-height: 1.55em;
}

.mainContainer {
	background: #171B25;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 5%;
	width: 55%;
	border: 5px solid #222835;
	border-radius: 5px 5px 5px 5px;
	padding: 3% 7% 3% 7%;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.75)
}

#heading {
	background: #F7AEB7;
	border-radius: 0.18em 0px 0px 0.18em;
	color: #171B25;
	display: inline-block;
	padding: 0.3125em 0.3225em 0.3125em 0.3125em;
	font: normal bold 31px "Oswald", sans-serif;
}

#subHeading {
	font: normal bold 24px "Oswald", sans-serif;
	padding: 0.28em;
	border-radius: 0.18em 0 0 0.18em;
	background: #94D6A3;
	color: #171B25;
	display: inline-block;
}

.searchContainer {
	margin: auto;
	display: flex;
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	margin-top: 1.5em;
	width: calc(100% - 2em);
}

#searchInput {
	width: 100%;
	font: normal normal 19.5px "Outfit", sans-serif;
	padding: 0.7em;
	background: #222835;
	border-radius: 4px 0 0 4px;
	color: #EFEFEF;
}
#searchInput:focus {
	color: #EFEFEF;
}
#searchInput::placeholder {
  color: rgba(239,239,239,0.5);
}

#searchButton, #clearButton {
	color: #171B25;
	transition: background 0.125s ease-in-out 0s;
}

#searchButton {
	border-radius: 0 4px 4px 0;
	padding: 0.375em 0.4em 0.375em 0.4em;
	background: #F7AEB7;
	font: normal normal 28px "Material Icons", sans-serif;
	cursor: pointer;
}

#clearButton {
	padding: 0.15em;
	font: normal normal 23px "Material Icons", sans-serif;
	background: #222835/*rgba(42,49,65,1)*/;
  	color: rgba(239,239,239,0.75);
	transition: color 0.175s ease-in-out 0s;
	display: none;
}
#clearButton:hover {
	color: rgba(239,239,239,0.9);
}

#searchButton:hover {
	background: #FC8A94;
}

#toggleContainer {
	border-radius: 2px;
	padding: 0.5em 0 0 0;
	display: grid;
	max-width: 55%;
	margin-left: 2.5em;
	background: transparent;
	margin-top: 0.75em;
	text-align: left;
}
#toggleEngine {
	font: normal 600 18px "Outfit", sans-serif;
	transition: color 0.125s ease-in-out 0s;
	line-height: 1.55em;
	margin-left: 0.1em;
	display: block;
}
#toggleBrief {
	font: normal normal 17.5px "Outfit", sans-serif;
	line-height: 1.55em;
	color: #E4E4E4;
	display: block;
}
#toggleContainer:hover {
	cursor: crosshair;
}

#subHeading1, #subHeading2 {
	font: normal normal 25px "Oswald", sans-serif;
}
#subHeading1 {
	color: #FBE091;
}
#subHeading2 {
	color: #A8BEFB;
}

::selection {
	color: #171B25;
	background: rgba(239,239,239,0.85);
}

.maintext {
	color: #D9D7D6;
	font: normal normal 17.5px "Outfit", sans-serif;
	border: 0px solid pink;
	border-radius: 5px;
	background: transparent;
}

.dividercontainer {
	display: flex;
	width: 50%;
	margin: auto;
	margin-top: 3%;
	margin-bottom: -1%;
}
hr {
	border: 0px solid #8AE29D;
	border-top: 2px solid #8AE29D;
	border-bottom: 1px solid #8AE29D;
	background: #8AE29D;
	font: normal normal 17px "Outfit", sans-serif;
	width: 37%;
}
.dividerx1, .dividerx2, .dividerx3 {
	font-size: 20px !important;
	font-weight: 700;
	-webkit-text-stroke: 1px;

}
.dividerx1 {
	color: #FBE091;
}
.dividerx2 {
	color: #FC8A94;
}
.dividerx3 {
	color: #A8BEFB;
}


a {
	transition: color 0.125s ease-in-out 0s;
	color: #EFEFEF;
	text-decoration: none;
}

a:hover {
	color: #FC8A94;
	text-decoration: underline;
}
.abouttext {
	color: #D9D7D6;
	padding: 1%;
	font: normal normal 15px "outfit", sans-serif;
	line-height: 1.4em;
	margin: -2% 0 0 0;
}
.aboutsubheading {
	font: normal normal 23px "Oswald", sans-serif;
	padding: 1%;
	border-radius: 5px 0 0 5px;
	color: #DA91CE;
}

@media screen and (max-width: 9.5in) {
	.mainContainer {
		width: 70%;
	}
	#searchButton {
		/*font: normal bold 23px "Material Icons", sans-serif;*/
	}
	#subHeading {
		font: normal bold 23px "Oswald", sans-serif;
	}
	#searchInput {
		font: normal normal 19px "Outfit", sans-serif;
	}
	#toggleBreif {
		font: normal normal 17px "Outfit", sans-serif;
	}
	hr{
	width: 30%;
	}
	#toggleEngine {
		font: normal bold 17.5px "Outfit", sans-serif;
	}
	#toggleBrief {
		font: normal normal 16.5px "Outfit", sans-serif;
	}
	.maintext {
	}
	.hideonphone {
		display: none;
	}
	.searchContainer {
		width: calc(100% - 1em);
	}
}

@media screen and (max-width: 5in) {
	.mainContainer {
		width: 83%;
		box-shadow: none;
	}
	#heading {
		font: normal bold 29px "Oswald", sans-serif;
	}
	hr{
	width: 27%;
	}
	.searchContainer {
		width: calc(100% - 0.5em);
	}
	/*work on the spacing as well*/
}
